
@font-face {font-family: "iconfont2";
  src: url('iconfont.eot?t=1492088077277'); /* IE9*/
  src: url('iconfont.eot?t=1492088077277#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492088077277') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492088077277') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492088077277#iconfont2') format('svg'); /* iOS 4.1- */
}

.iconfont2 {
  font-family:"iconfont2" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bus-edit:before { content: "\e614"; }

.icon-bus-signpost:before { content: "\e697"; }

.icon-bus-bin:before { content: "\e621"; }

.icon-bus-drag:before { content: "\e639"; }

.icon-bus-yes:before { content: "\e615"; }

.icon-bus-cancel:before { content: "\e62e"; }

